#DropdownRoot {
    flex-grow: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    align-self: auto;
}

#DropdownRoot > #DropdownField {
    color: var(--black);
}

#DropdownRoot > #DropdownField > .unity-popup-field__label {
    text-overflow: ellipsis;
}
