#MorePanelRoot > #DeleteButton > .unity-button > #Label {
    color: rgb(25, 105, 36);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    flex-grow: 1;
    -unity-font-style: normal;
    font-size: 14px;
    -unity-text-align: upper-left;
    background-image: none;
}

#MorePanelRoot > #DeleteButton > .unity-button > #Icon {
    background-color: rgb(105, 255, 78);
}
