#Root {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    opacity: 0;
    background-color: var(--bg-50-black);
}

#Root.active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    opacity: 1;
}
