#Root {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    opacity: 0;
}

#Root.active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    opacity: 1;
}

#Root > #Background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
